body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(233, 233, 233);
  }
  /* NAVIGATION BAR */
  /*Add a black background color to the top navigation */
  .topnav {
    background-color: rgb(50, 47, 240);
    overflow: hidden;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(10, 0, 146);
    color: #a8a8a8;
    ;
  }
    h3 {
      font-size: 20pt;
      color: blue;
      text-align: center;
  }
  p {
    color: red;
    line-height: 1.8;
  }
  /* TABLES */
  tr {
    background-color: rgb(255, 186, 57);
    text-align: center;
  }
  /* FORM */
  form {
    line-height: 2;
  }