<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma de Gestión de notas</title>
    <link rel="stylesheet" href="../css/styles.css">
<head>
<body>
    <table width="100%" border="0">
        <tbody>
            <tr height="100px">
                <td width="20%">Universidad<br>San Buenaventura</td>
                <td><h2>Plataforma de gestión de notas</h2></td>
            </tr>
        </tbody>
    </table>
    
    {% block contenido %}

    {%endblock%}
    
</body>
</html>