<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="icon/png" href="https://cdn.pixabay.com/photo/2017/01/13/14/26/book-1977396_960_720.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <title>Plataforma de Gestión de notas</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <table width="100%" border="0">
        <tbody>
            <tr height="100px">
                <td width="20%">Universidad<br>San Buenaventura</td>
                <td><h2>Plataforma de gestión de notas</h2></td>
                <td>Logout</td>
            </tr>
        </tbody>
    </table>
    
    {% block contenido %}

    {%endblock%}
    
</body>
</html>