{%extends 'layout.html' %}

{%block estilos%}
    <link rel="stylesheet" href="{{url_for('static', filname='css/estilos.css')}}">
{%endblock%}
{% block contenido%}

{% block css %}

    <style>
        

        * {
        box-sizing: border-box;
        }
        
        
        
        body {
        font-family: Arial, Helvetica, sans-serif;
        }
        
    header {
        background-color: rgb(102, 102, 102);
        padding: 30px;
        text-align: center;
        font-size: 35px;
        color: white;

    }/* Create two columns/boxes that floats next to each other */
    nav {
    float: left;
    width: 20%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
    }/* Style the list inside the menu */
    nav ul {
    list-style-type: none;
    padding: 0;
    }article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
    }/* Clear floats after the columns */
    section::after {
    content: "";
    display: table;
    clear: both;
    }/* Style the footer */
    footer {
    background-color: rgb(119, 119, 119);
    padding: 10px;
    text-align: center;
    color: white;
    }/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
    @media (max-width: 600px) {
    nav, article {
    width: 100%;
    height: auto;
    }
    }
    </style>

    {% endblock %}

    
    <section>
    <nav>
    <ul>
    <li><a href="/registro.html">REGISTRO USUARIO</a></li>
    <li><a href="/infoestudiante">PERFIL ESTUDIANTE</a></li>
    <li><a href="/infodocente">PERFIL DOCENTE</a></li>
    </ul>
    </nav>


<br>
    <div>
      <h1>Registro Usuario</h1>
      <form action="" method="post">
        <div>
          <img src="{{ url_for('static', filename='img/user.png')}}" alt="" class="ver">
          <label>Usuario:</label>
          <input type="text" name="usuario" id="usuario" placeholder="Usuario">
        </div>
        <div>
          <img src="{{ url_for('static', filename='img/password.png')}}" alt="" class="ver">
          <label>Password:</label>
          <input type="password" name="contrasena" id="contrasena" placeholder="Contrasena"> 
          <img src="{{ url_for('static', filename='img/ver.png')}}" alt="" class="ver">
        </div>
        <input type="checkbox" id="recordarUsuario">
        <label class="recordarUsuario">Recordar usuario</label>
        <br>
        <input type="submit" value="Iniciar sesion" >
        <input type="submit" value="Registrarse">
        <p></p>
        <a href="">Olvido su contraseña</a>
        <p><span>Registrate</span></p>
      </form>
    </div>

{%endblock%}

{% block scripts %}
<script src="{{ url_for('static', filename='js/login.js')}}"></script>
{% endblock%}
