{%extends 'layout.html' %}


{% block contenido%}

{% block css %}

    <style>
        

        * {
        box-sizing: border-box;
        }
        
        
        
        body {
        font-family: Arial, Helvetica, sans-serif;
        }
        
    header {
        background-color: rgb(102, 102, 102);
        padding: 30px;
        text-align: center;
        font-size: 35px;
        color: white;

    }/* Create two columns/boxes that floats next to each other */
    nav {
    float: left;
    width: 20%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
    }/* Style the list inside the menu */
    nav ul {
    list-style-type: none;
    padding: 0;
    }article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
    }/* Clear floats after the columns */
    section::after {
    content: "";
    display: table;
    clear: both;
    }/* Style the footer */
    footer {
    background-color: rgb(119, 119, 119);
    padding: 10px;
    text-align: center;
    color: white;
    }/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
    @media (max-width: 600px) {
    nav, article {
    width: 100%;
    height: auto;
    }
    }
    </style>

    {% endblock %}

    
    <section>
    <nav>
    <ul>
    <li><a href="/registro.html">REGISTRO USUARIO</a></li>
    <li><a href="/infoestudiante">PERFIL ESTUDIANTE</a></li>
    <li><a href="/infodocente">PERFIL DOCENTE</a></li>
    </ul>
    </nav>


<br>


    <div class="container p-4">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">iniciar sesion</button>
              
          <a href="/registro"><button>Registrarse</button></a>
        </div>
        <p></p>
            <a href="">Olvido su contraseña</a>
            <p></p>
        
        </form>
        </div>


{%endblock%}
