{%extends 'layout.html' %}

{%block estilos%}
    <link rel="stylesheet" href="{{url_for('static', filname='css/estilos.css')}}">
{%endblock%}

{% block contenido%}

<!-- Top navigation bar -->
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
</div>

<h3>Registro de usuario</h3>
<section>
<div>
<form action="" method="post" onsubmit= "return validar_formulario()"> 
    <label>Nombre:</label>
    <input type="text">
    <label type="text" >Apellido:</label>
    <input>
    <br>
    <label>Tipo de documento:</label>
    <input type="search">

    <label>Documento:</label>
    <input type="number">
    <br>
    <label>Fecha de nacimiento:</label>
    <input type="date">
    <br>
    <label>correo:</label>
    <input type="email" name="correo" id="correo" placeholder="Correo">
    <br>
    <label>Direccion</label>
    <input type="text">
    <br>
    <label>Celular:</label>
    <input type="number">
    <br>
    <label>Rol:</label>
    <input type="search">
    <div>
    <label>Usuario:</label>
    <input type="usuario" name="usuario" id="usuario" placeholder="Usuario">
    </div>
    <div>
    <label>Contrasena:</label>
    <input type="password" name="contrasena" id="contrasena" placeholder="Contrasena">
    <img src="{{ url_for('static', filename='img/ver.png')}}" alt="" class="ver" id="ver_contrasena">
    </div>
    <div>
        <label>Confirmar contrasena:</label>
    <input type="password" name="confirmar" id="confirmar_contrasena" placeholder="Confirmar contrasena">
    <img src="{{ url_for('static', filename='img/ver.png')}}" alt="" class="ver" id="ver_confirmar_contrasena">
    </div>  
    <br>
    <input type="submit" value="Iniciar Sesion">
</form>
</div>

<div>
    <p>
        Ya tienes cuenta?
        <span>Iniciar sesion</span>
    </p>
</div>
</section>

{%endblock%}

{% block scripts %}
<script src="{{ url_for('static', filename='js/registro.js')}}"></script>
{% endblock%}