{%extends 'layout.html' %}
{% block contenido%}

<!-- Top navigation bar -->
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
</div>

<h3>Registro de usuario</h3>

    <div>
<form>
    <label>Nombre:</label>
    <input type="text">
    <label type="text" >Apellido:</label>
    <input>
    <br>
    <label>Tipo de documento:</label>
    <input type="search">

    <label>Documento:</label>
    <input type="number">
    <br>
    <label>Fecha de nacimiento:</label>
    <input type="date">
    <br>
    <label>correo:</label>
    <input type="email">
    <br>
    <label>Direccion</label>
    <input type="text">
    <br>
    <label>Celular:</label>
    <input type="number">
    <br>
    <label>Rol:</label>
    <input type="search">
    <br>
    <label>Usuario:</label>
    <input type="text">
    <br>
    <input type="submit" value="Acceder"/>
    <input type="submit" value="Registrarse">
</form>
</div>

<p></p>


{%endblock%}