{%extends 'layout.html' %}
{% block contenido%}

    <div>
<form>
    <label>Nombre:</label>
    <input type="text">
    <label type="text" >Apellido:</label>
    <input>

    <label>Tipo de documento</label>
    <input type="search">

    <label>Documento:</label>
    <input type="number">
    <label>Fecha de nacimiento:</label>
    <input type="date">

    <label>correo:</label>
    <input type="email">
    <label>Direccion</label>
    <input type="text">


    <label>Celular:</label>
    <input type="number">

    <label>Rol</label>
    <input type="search">

    <label>Usuario</label>
    <input type="text">

    <input type="submit" value="Acceder"/>
    <input type="submit" value="Registrarse">
</form>
</div>
   
<p></p>


{%endblock%}