{%extends 'layout.html' %}


{% block contenido %}

{% block css %}

    <style>
        

        * {
        box-sizing: border-box;
        }
        
        
        
        body {
        font-family: Arial, Helvetica, sans-serif;
        }
        
    header {
        background-color: rgb(102, 102, 102);
        padding: 30px;
        text-align: center;
        font-size: 35px;
        color: white;

    }/* Create two columns/boxes that floats next to each other */
    nav {
    float: left;
    width: 20%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
    }/* Style the list inside the menu */
    nav ul {
    list-style-type: none;
    padding: 0;
    }article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
    }/* Clear floats after the columns */
    section::after {
    content: "";
    display: table;
    clear: both;
    }/* Style the footer */
    footer {
    background-color: rgb(119, 119, 119);
    padding: 10px;
    text-align: center;
    color: white;
    }/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
    @media (max-width: 600px) {
    nav, article {
    width: 100%;
    height: auto;
    }
    }
    </style>

    {% endblock %}

<!-- Top navigation bar -->
<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
</div>
    
 
    <section>
        <nav>
        <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Perfil</a></li>
        <li><a href="#">Actividades</a></li>
        </ul>
        </nav>
        
        <article>
        <h3 align= "center">RETROALIMENTACION DE ACTIVIDAD</h3>
        <section>
            <div class="mb-3">
                <label for="user" class="form-label">Nombre usuario</label>
                <input type="text" class="form-control" id="Nombre Apellido" aria-describedby="userlHelp">
              </div>
            <br>
            <div class="mb-3">
                <label for="curso" class="form-label">Curso</label>
                <input type="text" class="form-control" id="Curso" aria-describedby="cursolHelp">
              </div>
        </div>
        <div class="mb-3">
            <label for="codigo" class="form-label">Codigo</label>
            <input type="text" class="form-control" id="Codigo" aria-describedby="codigolHelp">
          </div>
            <br>
            <div class="mb-3">
                <label for="programa" class="form-label">Programa</label>
                <input type="text" class="form-control" id="programa" aria-describedby="programaHelp">
              </div>
        </section>
        </article>
        </section>

{%endblock%}





<footer>
<p>Footer</p>
</footer>


</body>
</html>